build/
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
target/
lib_managed/
tests/testapp/manifest.mf
tests/testapp/testapp.jar
testapp.pid
*~